<header class="header" id="header">
    <nav class="nav container">
        <div>
            <!-- <img src="../assets/images/logo.png" alt="img" class="nav__img"> -->
        <h2 href="" class="nav__logo"><b>User Name</b></h2>
    </div>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="home" class="nav__link ">
                        <i class='bx bxs-home nav__icon'></i>
                        <span class="nav__name">Home</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="link" class="nav__link">
                        <i class='bx bx-link nav__icon'></i>
                        <span class="nav__name">Add</span>
                    </a>
                </li>
                
                <li class="nav__item">
                    <a href="qrScan" class="nav__link ">
                        <i class='bx bx-qr-scan nav__icon'></i>
                        <span class="nav__name">Qr scan</span>
                    </a>
                </li>
            
                <li class="nav__item">
                    <a href="profile" class="nav__link ">
                        <i class='bx bxs-user nav__icon'></i>
                        <span class="nav__name">Profile</span>
                    </a>
                </li>
                 
               
            </ul>
        </div>

         <!-- <img src="../assets/images/tanjiro.jpg" alt="img" class="nav__img">  -->
        <!-- //add profile pic with firebase-auth -->
        <img src="https://lh3.googleusercontent.com/a/AGNmyxZ8Fb9YSY2RPZaQ2NaNzCee-GU6ugznbGf_gf39Mg=s96-c" alt="img" class="nav__img">
    </nav>
</header>
