<%- include('partials/header') %>
 <%- include('partials/nav') %>
 <body id="home">
  <div class="links-div">

   <div >
  <img class="Photo" id="Photo" src="" alt="userimg">
   <h2 class="name" id="name"></h2>
  </div>
    <spam class="bio" id="bio">
	  Hi,an app you can share all socials links in one place
	</spam>
	
    <div id="linksbutton">
    <a class="links" href="https://www.YouTube.com" target="_blank">YouTube</a>
		<a class="links" href="https://www.twitter.com/" >Twitter </a>
		<a class="links" href="https://www.facebook.com/" > Facebook </a>
		<a class="links" href="https://www.snapchat.com/" > Snapchat</a>
    <a class="links" href="https://www.instagram.com/" >Instagram</a>
    <a class="links" id ="dynamic" href="" ></a>
    
    </div>
  </div>

<h1>home</h1>
<a href="https://monkeytype.com/">monkey type</a>


<!-- <div class="d-grid gap-2 col-6 mx-auto"> -->
    <button class="btn btn-primary" id="bttn" type="button">Button</button>
    <a class="btn btn-primary" href="mailto:nikhilanandgampala@gmail.com">CONTACT ME</a>
 

 
 <h1>Enter links to store</h1>


<form>
    <label for="url-input">URL:</label>
    <input type="url" id="url-input" name="url-input" required />
    <br>
    <label for="title-input">Title:</label>
    <input type="text" id="title-input" name="title-input" required />
    <br>
    <button type="submit" >Add Item</button>
  </form>

  <div id="items"></div>
  <div class="col-md-6 col-lg-4">
    <div class="login -wrap p-0">
  <button
  class="google-btn form-control btn btn-primary submit px-3"
  id="googleid"
>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
    alt="Google logo"
    width="20"
    height="20"
  />
  Sign in with Google
</button>
</div>
</div>
<!-- </div> -->

<!-- <button class="form-control btn btn-primary submit px-3">singin with google</button> -->
<!-- <button style="background: url('../assets/images/google-logo.png') no-repeat;  border: none;" class="form-control btn btn-primary submit px-3">signin with Google</button> -->
<style>
  .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
  }

  .google-btn img {
    margin-right: 10px;
  }
</style>



<script>
   
// retrieve items from local storage or create an empty array
const items = JSON.parse(localStorage.getItem("items")) || [];

// add event listener to the form submit button
const form = document.querySelector("form");
form.addEventListener("submit", function (event) {
  event.preventDefault();

  // get the URL and title inputs
  const urlInput = document.getElementById("url-input");
  const titleInput = document.getElementById("title-input");

  // add the new item to the items array
  items.push({ url: urlInput.value, title: titleInput.value });

  // save the updated items array to local storage
  localStorage.setItem("items", JSON.stringify(items));

  // clear the input fields
  urlInput.value = "";
  titleInput.value = "";

  // render the updated items
  // renderItems();
  const container = document.getElementById("linksbutton");
  items.forEach((link) => {
  const a = document.createElement("a");
  a.href = link.url;
  a.innerText = link.title;
  // $('#linksbutton a').addClass('links');
  container.appendChild(a);
});

});   






</script>

<%- include('partials/footer') %>
