<%- include('partials/header') %>
 <%- include('partials/nav') %>
 <body id="home">
  <div class="links-div">

   <div >
  <img class="Photo" id="Photo" src="" alt="userimg">
   <h2 class="name" id="name"></h2>
  </div>
    <spam class="bio" id="bio">
	  Hi,an app you can share all social links in one place
	</spam>
	
    <div id="linksbutton" style="margin-bottom: 100px;">
    <!-- <a class="links" href="https://www.YouTube.com">YouTube</a>
		<a class="links" href="https://www.twitter.com/" >Twitter </a>
		<a class="links" href="https://www.facebook.com/" > Facebook </a>
		<a class="links" href="https://www.snapchat.com/" > Snapchat</a>
    <a class="links" href="https://www.instagram.com/" >Instagram</a> -->
    <!-- <a class="links" id ="dynamic" href="" ></a> -->
    
    </div>
  </div>

<!-- <h1>home</h1>
<a href="https://monkeytype.com/">monkey type</a>


<div class="d-grid gap-2 col-6 mx-auto"> 
    <button class="btn btn-primary" id="bttn" type="button">Button</button>
    <a class="btn btn-primary" href="mailto:nikhilanandgampala@gmail.com">CONTACT ME</a>
 

 
 <h1>Enter links to store</h1>


<form>
    <label for="url-input">URL:</label>
    <input type="url" id="url-input" name="url-input" required />
    <br>
    <label for="title-input">Title:</label>
    <input type="text" id="title-input" name="title-input" required />
    <br>
    <button type="submit" >Add Item</button>
  </form>

  <div id="items"></div>
  <div class="col-md-6 col-lg-4">
    <div class="login -wrap p-0">

</div>
</div> -->
<!-- </div> -->

<!-- <button class="form-control btn btn-primary submit px-3">singin with google</button> -->
<!-- <button style="background: url('../assets/images/google-logo.png') no-repeat;  border: none;" class="form-control btn btn-primary submit px-3">signin with Google</button> -->



<%- include('partials/footer') %>
