<%- include('partials/header') %> <%- include('partials/nav') %>
<style>
  /*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*===== Colors =====*/
  --first-color: #272A3A;
  --first-color-light: #8A8EAA;
  --first-color-lighten: #F8F8FC;

  /*===== Font and typography =====*/
  --body-font: 'Ubuntu', sans-serif;
  --normal-font-size: 1rem;
  --smaller-font-size: .813rem;
}

/*===== BASE =====*/
*,::before,::after{ 
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  background-color: var(--first-color-lighten);
}

h1{
  margin: 0;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*===== DRAG and DROP =====*/
.drop, .drop__container{
  display: grid;
}

.drop{
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.drop__container{
  row-gap: 1rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  /* box-shadow: 4px 4px 16px #E1E1E1; */
}

.drop__card, .drop__data{
  display: flex;
  align-items: center;
}

.drop__card{
  width: 360px;
  justify-content: space-between;
  padding:15px 1.25rem 15px .75rem;
  background-color: var(--first-color-lighten);
  box-shadow: 4px 4px 16px #E1E1E1, -2px -2px 16px #FFF;
  border-radius: 2.5rem;
}

.drop__img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 1rem;
}

.drop__name{
  font-size: var(--normal-font-size);
  color: var(--first-color);
  font-weight: 500;
  padding-left: 140px;
}

.drop__profession{
  font-size: var(--smaller-font-size);
  color: var(--first-color-light);
}

.drop__social{
  margin: 0 .375rem;
  color: var(--first-color-light);
  transition: .4s;
}

.drop__social:hover{
  color: var(--first-color);
}

/* Class name for the chosen item */
.sortable-chosen{
  box-shadow: 8px 8px 32px #E1E1E1;
}

/* Class name for the dragging item */
.sortable-drag{
  opacity: 0;
}

</style>
<body id="link">
  <button class="open-form" id="bottomformbtn"  style="margin-top: 100px">Add URL</button>
  <!-- modal-bootstrap -->
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
      </button> -->

  <button class="open-form" style="margin-top: 100px" id="openbtn">
    Add URL
  </button>
  <div class="bootstrap-div">
    <div
      class="modal fade"
      id="form-modal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Add Link</h1>
            <button
              type="button"
              class="btn-close"
              id="closebtn"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-floating mb-3">
                <input
                  type="url"
                  class="form-control url"
                  id="url"
                  placeholder="url"
                  style="border-radius: 30px"
                />
                <label for="url">URL</label>
              </div>
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control title"
                  id="title"
                  placeholder="title"
                  style="border-radius: 30px"
                />
                <label for="title">Title</label>
              </div>

              <br />
              <div class="d-grid gap-2 col-6 mx-auto">
                <button
                  style="border-radius: 20px"
                  class="btn btn-primary addData"
                  type="submit"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ######################## bottom form ################################ -->
  <div class="form-container ">
    
    <div class="bottom-sheet ">
      <div>
        <br />
        <!-- <button type="button" class="btn-close" aria-label="Close"></button> -->
        <button class="close-form"><i class="bx bx-x"></i></button>
      </div>

      <div class="form-wrapper">
        <form class="add">
          <div class="form-floating mb-3">
            <input
              type="url"
              class="form-control"
              id="urlbtm"
              name="url"
              placeholder="https://example.com"
              required
              pattern="https://.*"
              style="border-radius: 30px"
            />
            <label for="url">URL</label>
          </div>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="titlebtm"
              name="title"
              placeholder="title"
              style="border-radius: 30px"
            />
            <label for="title">Title</label>
          </div>

          <br />
          <div class="d-grid gap-2 col-6 mx-auto">
            <button
              style="border-radius: 20px;
              background-color: #5865f2;
              "
              class="btn btn-primary addDatabtm"

              id="bottomsavebtn"
              type="submit"
            > 
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  
  </div> 
  <div id="button-container">
    <div class="drop__card">
      
      <a href="https://www.discord.com/" id="AuPNfEBZBIn9TwryMEYA" class="drop__name">Discord</a>   
            <a href="#" class="drop__social"><i class='bx bxs-trash-alt'></i></i></a> 
    </div>
  </div>
  <div class="drop__container" id="drop-items">

 
</div>
    
   
  

  <script>
    // import * as bootstrap from 'bootstrap';

    // const myModal = new bootstrap.Modal('#form-modal');
    // setTimeout(() => {
    // 	myModal.hide();
    // }, 3000);

    var w = document.documentElement.clientWidth || window.innerWidth;
    if (w <= 760) {
      // Probably mobile
      const openFormBtn = document.querySelector(".open-form");
      const closeFormBtn = document.querySelector(".close-form");
      const bottomSheet = document.querySelector(".bottom-sheet");

      openFormBtn.addEventListener("click", () => {
        bottomSheet.classList.add("active");
      });
      closeFormBtn.addEventListener("click", () => {
        bottomSheet.classList.remove("active");
      });
      //display content block
      document.getElementById("openbtn").style.display = "none";

    } else {
      // Probably desktop
      const open = document.getElementById("openbtn");
      const close = document.getElementById("closebtn");
      document.getElementById("bottomformbtn").style.display = "none";
      open.addEventListener("click", () => {
        $("#form-modal").modal("show");
      });

      close.addEventListener("click", () => {
        $("#form-modal").modal("hide");
      });
    }
    // const myModal = new bootstrap.Modal('#form-modal');

    // setTimeout(() => {
    //     myModal.hide();
    // }, 3000);

    // Submit form data here
    // ...
  </script>
  <%- include('partials/footer') %>
</body>
