<%- include('partials/header') %> <%- include('partials/nav') %>

<div class="form-container">
  <button class="open-form">Add URL</button>

  <div class="bottom-sheet">
    <div>
      <br />
      <button class="close-form"><i class="bx bx-x"></i></button>
    </div>
    <form>
      <div class="form-floating mb-3">
        <input
          type="url"
          class="form-control"
          id="url"
          placeholder="url"
          style="border-radius: 30px"
        />
        <label for="url">URL</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="title"
          style="border-radius: 30px"
        />
        <label for="title">Title</label>
      </div>

      <br />
      <div class="d-grid gap-2 col-6 mx-auto">
        <button
          style="border-radius: 20px"
          class="btn btn-primary"
          type="submit"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  const openFormBtn = document.querySelector(".open-form");
  const closeFormBtn = document.querySelector(".close-form");
  const bottomSheet = document.querySelector(".bottom-sheet");

  openFormBtn.addEventListener("click", () => {
    bottomSheet.classList.add("active");
  });

  closeFormBtn.addEventListener("click", () => {
    bottomSheet.classList.remove("active");
  });

  // Submit form data here
  // ...
</script>
<%- include('partials/footer') %>
