<%- include('partials/header') %> <%- include('partials/nav') %>
<body id="link">
  <button class="open-form" id="bottomformbtn"  style="margin-top: 100px">Add URL</button>
  <!-- modal-bootstrap -->
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
      </button> -->

  <button class="open-form" style="margin-top: 100px" id="openbtn">
    Add URL
  </button>
  <div class="bootstrap-div">
    <div
      class="modal fade"
      id="form-modal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Add Link</h1>
            <button
              type="button"
              class="btn-close"
              id="closebtn"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-floating mb-3">
                <input
                  type="url"
                  class="form-control url"
                  id="url"
                  placeholder="url"
                  style="border-radius: 30px"
                />
                <label for="url">URL</label>
              </div>
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control title"
                  id="title"
                  placeholder="title"
                  style="border-radius: 30px"
                />
                <label for="title">Title</label>
              </div>

              <br />
              <div class="d-grid gap-2 col-6 mx-auto">
                <button
                  style="border-radius: 20px"
                  class="btn btn-primary addData"
                  type="submit"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ######################## bottom form ################################ -->
  <div class="form-container ">
    
    <div class="bottom-sheet ">
      <div>
        <br />
        <!-- <button type="button" class="btn-close" aria-label="Close"></button> -->
        <button class="close-form"><i class="bx bx-x"></i></button>
      </div>

      <div class="form-wrapper">
        <form class="add">
          <div class="form-floating mb-3">
            <input
              type="url"
              class="form-control"
              id="urlbtm"
              name="url"
              placeholder="https://example.com"
              required
              pattern="https://.*"
              style="border-radius: 30px"
            />
            <label for="url">URL</label>
          </div>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="titlebtm"
              name="title"
              placeholder="title"
              style="border-radius: 30px"
            />
            <label for="title">Title</label>
          </div>

          <br />
          <div class="d-grid gap-2 col-6 mx-auto">
            <button
              style="border-radius: 20px"
              class="btn btn-primary addDatabtm"
              type="submit"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  
  </div>
  <div id="button-container"></div>

  <script>
    // import * as bootstrap from 'bootstrap';

    // const myModal = new bootstrap.Modal('#form-modal');
    // setTimeout(() => {
    // 	myModal.hide();
    // }, 3000);

    var w = document.documentElement.clientWidth || window.innerWidth;
    if (w <= 760) {
      // Probably mobile
      const openFormBtn = document.querySelector(".open-form");
      const closeFormBtn = document.querySelector(".close-form");
      const bottomSheet = document.querySelector(".bottom-sheet");

      openFormBtn.addEventListener("click", () => {
        bottomSheet.classList.add("active");
      });
      closeFormBtn.addEventListener("click", () => {
        bottomSheet.classList.remove("active");
      });
      //display content block
      document.getElementById("openbtn").style.display = "none";

    } else {
      // Probably desktop
      const open = document.getElementById("openbtn");
      const close = document.getElementById("closebtn");
      document.getElementById("bottomformbtn").style.display = "none";
      open.addEventListener("click", () => {
        $("#form-modal").modal("show");
      });

      close.addEventListener("click", () => {
        $("#form-modal").modal("hide");
      });
    }
    // const myModal = new bootstrap.Modal('#form-modal');

    // setTimeout(() => {
    //     myModal.hide();
    // }, 3000);

    // Submit form data here
    // ...
  </script>
  <%- include('partials/footer') %>
</body>
