<!DOCTYPE html>
<html lang="en">
  <head>
    <title>inOne</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <main>
      <section class="ftco-section" style="padding-top: 10px">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5" style="margin-bottom: 20px">
              <img
                class="logo"
                src="../assets/images/logo.png"
                alt="#inOne logo"
              />
              <h1 class="heading-section">i n O n e</h1>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
              <div class="login -wrap p-0">
                <h4 class="mb-4 text-center">Enter Your Details</h4>
                <form class="signin-form">
                  <div class="form-group">
                    <input
                      id="email"
                      type="email"
                      class="form-control"
                      placeholder="Email "
                      color=""
                      autofocus
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input
                      id="password-field"
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      required
                    />
                    <span
                      toggle="#password-field"
                      class="fa fa-fw fa-eye field-icon toggle-password"
                    ></span>
                  </div>
                  <div class="form-group">
                    <button
                      id="signup"
                      type="submit"
                      class="form-control btn btn-primary submit px-3"
                    >
                      Sign Up
                    </button>
                  </div>
                  <div class="form-group d-md-flex">
                    <div class="w-50">
                      <label class="checkbox-wrap checkbox-primary"
                        >Remember Me
                        <input type="checkbox" checked />
                        <span class="checkmark"></span>
                      </label>

                      <!-- <div class="w-50 text-md-right">
										<a href="#" style="color: #fff">Forgot Password</a>
									</div> -->
                    </div>
                  </div>
                  <button
                    class="google-btn form-control btn btn-primary submit px-3"
                    id="googleid"
                  >
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
                      alt="Google logo"
                      width="20"
                      height="20"
                    />
                    Sign in with Google
                  </button>

                  <!-- <button class="form-control btn btn-primary submit px-3">singin with google</button> -->
                  <!-- <button style="background: url('../assets/images/google-logo.png') no-repeat;  border: none;" class="form-control btn btn-primary submit px-3">signin with Google</button> -->
                  <style>
                    .google-btn {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background-color: #000000;
                      color: #fff;
                      font-weight: bold;
                      border-radius: 40px;
                      cursor: pointer;
                    }

                    .google-btn img {
                      margin-right: 10px;
                    }
                  </style>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/popper.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/main.js"></script>
	  <script defer src="/assets/js/firebase.js" type="module"></script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    </main>
  </body>
</html>

 