<%- include('partials/header') %>
<%- include('partials/nav') %>
    <h1>profile</h1>
    <a href="/login"><button class="open-form"  style="margin-top: 100px;" >Log out</button></a>
<%- include('partials/footer') %>