<%- include('partials/header') %>
<%- include('partials/nav') %>
<body id="profile">

    <!-- <h1>profile</h1> -->
    
        <!-- <div class="container py-5 h-100"> -->
          <div class="containerblack justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card">
                <div
                  class="rounded-top text-white d-flex flex-row"
                  style="background-color: #000; height: 200px"
                >
                  <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;
                  margin-top: 50px;">
                    <img
                    id="Photo"
                      src="/assets/images/tanjiro.jpg"
                      alt="Generic placeholder image"
                      class="img-fluid img-thumbnail mt-4 mb-2"
                      style="width: 150px; z-index: 1;
                            border-radius: 100px;
                            margin-top: 50px;
                            "
                    />
                    <button
                      type="button"
                      class="btn btn-outline-dark"
                      data-mdb-ripple-color="dark"
                      style="z-index: 1"
                      data-bs-toggle="modal" data-bs-target="#exampleModal"
                    >
                      Edit profile
                    </button>
                  </div>
                  <div class="ms-3" style="margin-top: 130px;padding-left: 20px;">
                    <h5 id="dpname" style="font-size: 1.5rem;
                    font-weight: bold;">User Name</h5>
                    <p>India</p>
                  </div>
                </div>
  
              </div>
              
              <br>
              <br>
              
              <div class="mb-3" style="padding-top: 40px;
        padding-left: 50px;
        padding-right: 30px;
    ">
            <label for="exampleFormControlTextarea1" class="form-label">Bio</label>
            <textarea class="form-control" id="exampleFormControlTextarea1"placeholder="about" rows="3">Hi,an app you can share all socials links in one place</textarea>
          </div> 
            </div>
              
              
              </div>

              <!-- //bootsap modal -->
             <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form class="update">
        <div class="input-group">
          <input type="file" id="editphoto" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div>
        <br>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Username" id="editusername" name="usernameupdate" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="gmail-id" id="editEmail" name="emailupdate" aria-label="Recipient's username" aria-describedby="basic-addon2" style="text-align: center;">
          <span class="input-group-text" id="basic-addon2" >@gmail.com</span>
        </div>
        <div class="input-group">
          <span class="input-group-text">short bio</span>
          <textarea class="form-control" id="editbio" name="bioupdate" aria-label="With textarea"></textarea>
        </div>
      
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id = "updateBtn">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>
         
     
       
        
      <!-- </div> -->
      
        
     
    <button id="logout" class="open-form"   >Logout</button>
    
  
     
<%- include('partials/footer') %>