<%- include('partials/header') %>
<%- include('partials/nav') %>
<body id="profile">

    <h1>profile</h1>
    <button id="logout" class="open-form"  style="margin-top: 100px;" >Logout</button>
    
  
     
<%- include('partials/footer') %>