<%- include('partials/header') %>
<%- include('partials/nav') %>
<body id="profile">

    <!-- <h1>profile</h1> -->
    
        <!-- <div class="container py-5 h-100"> -->
          <div class=" justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card">
                <div
                  class="rounded-top text-white d-flex flex-row"
                  style="background-color: #000; height: 200px"
                >
                  <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
                    <img
                      src="/assets/images/tanjiro.jpg"
                      alt="Generic placeholder image"
                      class="img-fluid img-thumbnail mt-4 mb-2"
                      style="width: 150px; z-index: 1;
                            border-radius: 25px;"
                    />
                    <button
                      type="button"
                      class="btn btn-outline-dark"
                      data-mdb-ripple-color="dark"
                      style="z-index: 1"
                    >
                      Edit profile
                    </button>
                  </div>
                  <div class="ms-3" style="margin-top: 130px">
                    <h5>User Name</h5>
                    <p>India</p>
                  </div>
                </div>
  
              </div>
              <br>
              <br>
              
              </div>
          </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3" style="padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
    ">
            <label for="exampleFormControlTextarea1" class="form-label">Bio</label>
            <textarea class="form-control" id="exampleFormControlTextarea1"placeholder="about" rows="3">Hi,an app you can share all socials links in one place</textarea>
          </div> 
      <!-- </div> -->
      
        
     
    <button id="logout" class="open-form"   >Logout</button>
    
  
     
<%- include('partials/footer') %>