<%- include('partials/header') %>
  <form action="/login">
    
  <h1>welcome Screen</h1>
   <button type="submit">l o g i n </button>

  </form>
  <main>
    <!--=============== HOME ===============-->
    <section class="container section section__height" id="home">
        <h2 class="section__title">Home</h2>
    </section>

    <!--=============== ABOUT ===============-->
    <section class="container section section__height" id="about">
        <h2 class="section__title">About</h2>
    </section>

    <!--=============== developers ===============-->
    <section class="container section section__height" id="developers">
        <h2 class="section__title">developers</h2>
    </section>



    <!--=============== CONTACTUS ===============-->
    <section class="container section section__height" id="contactus">
        <h2 class="section__title">Contactus</h2>
    </section>
</main>
 <%- include('partials/footer') %>